# Server
MONGODB_URI=
JWT_SECRET=
CLIENT_URL=http://localhost:5173

# First administrator (used only to bootstrap the initial admin account)
ADMIN_EMAIL=
ADMIN_PASSWORD=

# ImageKit
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

# Gemini
GEIMINI_API_KEY=
